.article {
    font-family: "Trebuchet MS",sans-serif;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

.article h1 {
    text-align: left;
    font-weight: 100;
}


.links {
    text-align: left;
    align-items: flex-start;
    padding-top: 1%;
}


.links a {
    color:#e0218a;
    text-decoration: underline;
    font-family: system-ui;
}


.links p {
    font-size: 15px;
    font-family: system-ui;
}

.dark-mode h1 {
    color: burlywood;
}

.dark-mode a {
    color: burlywood;
}

.dark-mode p {
    color: white;
}
