.article {
  font-family: "Trebuchet MS", sans-serif;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}

.article h1 {
  text-align: left;
  font-weight: 100;
}

.links {
  text-align: left;
  align-items: flex-start;
  padding-top: 1%;
  border-top: 1px solid #777;
}

.links a {
  color: #e0218a;
  text-decoration: none;
}

.links a:hover {
  color: #777;
}

.links p {
  font-weight: 100;
  font-size: 15px;
}
