.listTitle li {
  list-style-type: none;
}

ol {
  font-size: 15px;
  font-family: Trebuchet MS, sans-serif;
}

.listTitle dl {
  font-family: Trebuchet MS, sans-serif;
  font-size: 15px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-top: 12%;
}

.title {
  color: #e0218a;
  font-family: Trebuchet MS, sans-serif;
}

h1 {
  font-weight: 200;
}

.body {
  font-family: "Verdana", sans-serif;
  font-size: 15px;
}

.body a {
  color: #e0218a;
}

.social img {
  height: 25px;
  width: 25px;
  margin: 2% 3% 0% 0%;
}

.linkedin:hover {
  opacity: 0.3;
}

.github:hover {
  opacity: 0.3;
}

.spotify:hover {
  opacity: 0.3;
}

.resume:hover {
  opacity: 0.3;
}

.pencil:hover {
  opacity: 0.3;
}

.article {
  text-align: center;
}

.articleDescripion .arrow a{
text-decoration: none;
color: #000
}

.article h1{
  color: #e0218a;
  font-family: Trebuchet MS, sans-serif;
}

.article a{
  color: #e0218a;
  font-family: Trebuchet MS, sans-serif;
}


.section {
  color: black;
  margin: 1em;
  font-family: "FreeSerif", serif;
  text-transform: lowercase;
  font-size: 15pt;
}

.section p {
  font-size: 10pt;
}

.section a {
  color: #e0218a;
  text-decoration: none;
}

.sectiontitle {
  position: absolute;
  right: 75%;
  width: 25%;
  text-align: right;
  margin: 0;
  padding: 0;
  font-family: "FreeSans", sans-serif;
  font-weight: 400;
  white-space: nowrap;
}

.myname {
  font-family: "Trebuchet MS",sans-serif;
  font-size: 200%;
  text-transform: lowercase;
  white-space: nowrap;
  text-decoration: none;
}

a.myname {
  color: black;
}

.myname i {
  font-weight: normal;
}

.sectioninfo {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 1em;
  left: 25%;
  width: 75%;
  text-align: left;
}

.address {
  font-family: "Trebuchet MS",sans-serif;
  padding-top: 1em;
}

.address a {
   font-size: 20px;
   text-decoration: underline;
}

.articleDescripion {
  display: inline-block; 
  text-align: left;
  width: 65%;
}

.articleDescripion h1{
  font-family: Trebuchet MS, sans-serif;
  color: #000;
}

.articleDescripion a{
  color: #e0218a;
  text-decoration: underline;
  font-family: 'Trebuchet MS', sans-serif;
}

.articleDescripion p{
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 15px;
}

.articleDescripion h5{
  color: #e0218a;
  font-family: 'Trebuchet MS', sans-serif;
}

.articleDescripion h4{
  color: #e0218a;
  font-family: 'Trebuchet MS', sans-serif;
}

.articleDescripion h3{
  color: #e0218a;
  font-family: 'Trebuchet MS', sans-serif;
}

.articleDescripion h1{
  color: #000;
}

@media (max-width: 1100px) {
  .container {
    width: 50%;
  }

}

@media (max-width: 900px) {
  .container {
    width: 60%;
  }
}

@media (max-width: 800px) {
  .container {
    width: 60%;
  }


}

@media (max-width: 700px) {
  .container {
    width: 80%;
    margin-top: 25%;
  }

  .social img {
    height: 22px;
    width: 22px;
  }

  .body {
    font-size: 13px;
  }

  .articleDescripion {
    width: 85%;
  }
  .articleDescripion img {
    width: 80%;
    height: 80%;
  }

  .address a {
    font-size: 80%;
  }

  .address p {
    font-size: 50%;
  }

  .sectioninfo {
    left: 35%;
    width: 60%;
    margin-top: -5%;
  }

  .sectiontitle {
    left: 10%;
    margin-top: -5%;
  }
 

  .myname i {
    font-size: 70%;
  }

  .myname p {
    margin-top: -5%;
  }

  .section {
 
  }

}
