.date {
  color: #7c7d7d;
  font-weight: 100;
}

.menu{
  font-family: "Source Sans Pro", sans-serif, helvetica;
  text-align: center;
  max-width: 600px;
  margin: auto;
}

.menu li {
  display: inline-block;
  padding: 30px;
}

.menu ul {
  list-style: none;
  border-bottom: 1px solid #e0218a;
  margin-top: -5%;
}

.menu a {
  text-decoration: none;
  color: #7c7d7d;
}

.menu a:hover {
  color: #e0218a;
}

.menu a:active {
  color: #e0218a;
}

.menu h2 {
  color: #e0218a;
  font-weight: 400;
}

.about {
  text-align: center;
  margin-top: 0%;
}

.aboutPhoto {
  width: 15%;
  display: inline-block;
}

.aboutPhoto img {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin: 2% 3% 30% 10%;
}

.aboutText {
  display: inline-block;
  text-align: left;
  width: 30%;
}

.aboutText h1 {
  font-family: Trebuchet MS, sans-serif;
  color: #e0218a;
}

.aboutText a {
  color: #e0218a;
}

.aboutText p {
  font-size: 90%;
}

.aboutText img {
  height: 25px;
  width: 25px;
  margin: 2% 3% 0% 0%;
}


.home {
  display: inline-block; 
  text-align: left;
  margin-top: -6%;
}

.homeContainer {
  text-align: center;
  margin-top: 20%;
}


.home a {
  color: #7c7d7d;
  text-decoration: none;
  font-family: Trebuchet MS, sans-serif;
  font-size: 18px;
}

.home h1{
  font-family: Inter, sans-serif;
}

.home a:hover {
  color: #e0218a;
}

.title a{
  text-decoration: none;
  color: #e0218a;
}

.title span {
  color: #7c7d7d;
}

.listTitle li {
  list-style-type: none;
}

ol {
  font-size: 15px;
  font-family: Trebuchet MS, sans-serif;
}

.listTitle dl {
  font-family: Trebuchet MS, sans-serif;
  font-size: 15px;
}

.title {
  color: #e0218a;
  font-family: 'Trebuchet MS', sans-serif;
}

h1 {
  font-weight: 200;
}

.linkedin:hover {
}

.github:hover {
}

.spotify:hover {
  opacity: 0.3;
}

.resume:hover {
  opacity: 0.3;
}

.pencil:hover {
  opacity: 0.3;
}

.article {
  text-align: center;
}

.articleDescripion .arrow a{
text-decoration: none;
color: #000
}

.article h1{
  color: #e0218a;
  font-family: Trebuchet MS, sans-serif;
}

.article a{
  color: #e0218a;
  font-family: Trebuchet MS, sans-serif;
}


.section {
  color: black;
  margin: 1em;
  font-family: "FreeSerif", serif;
  text-transform: lowercase;
  font-size: 15pt;
}

.section p {
  font-size: 10pt;
}

.section a {
  color: #e0218a;
  text-decoration: none;
}

.sectiontitle {
  position: absolute;
  right: 75%;
  width: 25%;
  text-align: right;
  margin: 0;
  padding: 0;
  font-family: "FreeSans", sans-serif;
  font-weight: 400;
  white-space: nowrap;
}

.myname {
  font-family: "Trebuchet MS",sans-serif;
  font-size: 200%;
  text-transform: lowercase;
  white-space: nowrap;
  text-decoration: none;
}

a.myname {
  color: black;
}

.myname i {
  font-weight: normal;
}

.sectioninfo {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 1em;
  left: 25%;
  width: 75%;
  text-align: left;
}

.address {
  font-family: "Trebuchet MS",sans-serif;
  padding-top: 1em;
}

.address a {
   font-size: 20px;
   text-decoration: underline;
}

.articleDescripion {
  display: inline-block; 
  text-align: left;
  width: 65%;
}

.articleDescripion h1{
  font-family: Trebuchet MS, sans-serif;
  color: #000;
}

.articleDescripion a{
  color: #e0218a;
  text-decoration: underline;
  font-family: 'Trebuchet MS', sans-serif;
}

.articleDescripion p{
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 15px;
}

.articleDescripion h5{
  color: #e0218a;
  font-family: 'Trebuchet MS', sans-serif;
}

.articleDescripion h4{
  color: #e0218a;
  font-family: 'Trebuchet MS', sans-serif;
}

.articleDescripion h3{
  color: #e0218a;
  font-family: 'Trebuchet MS', sans-serif;
}

.articleDescripion h1{
  color: #000;
}

@media (max-width: 1150px) {
  
  .aboutPhoto {
    width: 30%;
  }
  
  .aboutPhoto img {
    height: 230px;
    width: 230px;
  }
  
  .aboutText {
    width: 45%;
  }
  
  .aboutText img {
    height: 25px;
    width: 25px;
    margin: 2% 3% 0% 0%;
  }
}

@media (max-width: 880px) {
  
  .aboutPhoto {
    width: 35%;
  }
  
  .aboutPhoto img {
    height: 195px;
    width: 195px;
  }
  
  .aboutText {
    width: 55%;
  }
  
  .aboutText img {
    height: 20px;
    width: 20px;
    margin: 2% 3% 0% 0%;
  }
}


@media (max-width: 800px) {
  .aboutPhoto img {
    height: 175px;
    width: 175px;
  }

  .aboutText {
    font-size: 90%;
  }
}

@media (max-width: 750px) {
  .aboutText {
    font-size: 90%;
  }
}


@media (max-width: 700px) {

  .title {
    width: 90%;
  }
  
  .homeContainer {
    margin-left: 25%;
  }

  .social img {
    height: 22px;
    width: 22px;
  }

  .articleDescripion {
    width: 85%;
  }
  .articleDescripion img {
    width: 80%;
    height: 80%;
  }

  .address a {
    font-size: 80%;
  }

  .address p {
    font-size: 50%;
  }

  .sectioninfo {
    left: 35%;
    width: 60%;
    margin-top: -5%;
  }

  .sectiontitle {
    left: 10%;
    margin-top: -5%;
  }
 

  .myname i {
    font-size: 70%;
  }

  .myname p {
    margin-top: -5%;
  }

  .homeContainer {
    margin-top: 40%;
  }

  .aboutText {
    font-size: 70%;
  }

  .aboutPhoto img {
    width: 130px;
    height: 130px;
  }

}

@media (max-width: 600px) {

  .menu{
    max-width: 500px;
  }
  .menu li {
    padding: 20px;
  }
}

@media (max-width: 500px) {
  .aboutPhoto img {
    width: 115px;
    height: 115px;
  }

  .aboutPhoto {
    width: 35%;
  }

  .aboutText {
    width: 85%;
    font-size: 80%;
  }

  .menu{
    max-width: 380px;
  }

  .menu a {
    font-size: 13px;
  }

  .menu li {
    padding: 13px;
  }
}

@media (max-width: 330px) {

  .menu{
    max-width: 290px;    
  }

  .menu a {
    font-size: 10px;
  }

  .menu li {
    padding: 10px;
  }
}
